html, body {
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

a {
  color: #658B6E;
  text-decoration: none; }
  a:hover, a:focus {
    color: #FFF;
    text-decoration: underline; }
  a:focus {
    color: #FFF;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: white;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
  margin-bottom: 10px;
}
.form-signin input[type="username"] {
  margin-bottom: 10px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.login { 
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
.footer {
  color: white;
  height: 40px;
}

input, input[placeholder]{
    text-align:left;
}

.modal-body {
  background: #FFF;
  background-size:100% 100%;
  background-size: cover;
}

p {  
    color: #000;
    width: 80%
    line-height: 1.3em;
    text-align: justify;
}

.1 {
  width:100%;
  height:100%;
}