{{define "content"}}
<div id="page-wrapper">
	<div class="container"><br>
		<div class="jumbotron">
			<h1>Welcome to Pro-Tempore!</h1>
			<p><i>Accounting software for cool people!</i>
				<br>
				Pro-tempore is a suite of accounting software currently under development.
			</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</p>
		</div>
	</div>
</div>
<!-- /#page-wrapper -->
{{end}}